   <h1>Reinder Dijkhuis</h1>

<img id="portrait" width="150px" height="200px" src="images/Portrait300x400.jpg" alt="My favorite picture of myself: it shows me as a mature man with a grey beard, dressed in a checked shirt and showing off a nice bass guitar" />
<h2>Words, pictures and sounds</h2>
<p id="main">

I'm Reinder Dijkhuis and I make stuff. Mostly comics, but sometimes I write or play music. This site showcases my comics and a bunch of random thoughts I've taken the trouble to write down over the past twenty-odd years.<br/>
I used to be a translator, but I gave it up for the time being. This hand-coded*, self-hosted** website exists because you should never trust a platform not to sell you out.</p>
<p class="footnote">*except for the bits that are exported from WordPress</p>
<p class="footnote">**except for the bits I haven't moved over from the platforms yet
<hr />
<div class="row">
  <div class="column">
<h2>Comics</h2>
    <p>
        <a href="http://rocr.thecomicseries.com/"><i>Rogues of Clwyd-Rhan</i> on ComicFury</a><br/>
        <a href="https://rovernefraclwydrhan.cfw.me/"><i>Rogues of Clwyd-Rhan</i> in Danish</a> on ComicFury (small selection)<br/>
   <a href="https://reinderdijkhuis.com/tessdurban/">Tess Durban</a> English | <a href="https://tessdurban-dk.cfw.me/">Danish</a> | <a href="https://tessdurban-qu.cfw.me/">French (Quebec)</a><br />
    <a href="https://reinderdijkhuis.com/greyfriars/">Greyfriar's Isle</a> English | <a href="https://www.reinderdijkhuis.com/greyfriars-fr/">French (Quebec)</a> | <a href="https://www.reinderdijkhuis.com/greyfriars-dk/">Danish</a> | <a href="https://www.reinderdijkhuis.com/greyfriars-nl/">Dutch</a> <br />
    <a href="https://reinderdijkhuis.com/aphantasia/">Aphantasia</a><br/>
    <a href="https://www.reinderdijkhuis.com/virtuous/">Virtuous</a><br/>
<a href="https://www.reinderdijkhuis.com/pindrop/">Pin Drop</a><br/>
<!--      <a href="http://spunoff.thecomicseries.com/" name="Spun Off">Spun Off</a><br />-->
         <a href="https://www.reinderdijkhuis.com/abuistravels/" name="Abúi's Travels">Ab&uacute;i's Travels</a><br /> 
         <a href="http://cotwq.thecomicseries.com" name="Chronicles of the Witch Queen">Chronicles of the Witch Queen</a> by Geir Str&oslash;m, Daniel &Oslash;stvold and Reinder Dijkhuis<br />
        <a href="https://www.reinderdijkhuis.com/xgloop/" title="The Lives of X!Gloop">The Lives of X!Gloop</a> (selection)<br />
         <a href="http://whio.thecomicseries.com " title="White House In Orbit">White House In Orbit</a> by Geir Str&oslash;m and Reinder Dijkhuis<br />
             <a href="https://www.patreon.com/Reinder">Support my comics on Patreon</a><br/>
         </p>
  </div>
  <div class="column"><h2>Blogging, opinions and social</h2>
    <p>
      <a href="/wordpress/"><i>Obsession Du Jour</i> (Weblog)</a><br/>
      <a rel="me" href="https://mastodon.art/@reinderdijkhuis">Mastodon</a><br />
      <a href="https://www.deviantart.com/reinder">DeviantArt</a><br />
      <a href="https://pixelfed.social/reinderd">Pixelfed</a><br />
      <a href="https://www.tumblr.com/blog/reinderdijkhuis">Tumblr</a><br />
      <a href="https://www.linkedin.com/in/reinderdijkhuis/">LinkedIn</a><br />    
    </p>
  </div>
  <div class="column"><h2>Music</h2>
    <p>
    <a href="https://soundcloud.com/reinder-dijkhuis">Soundcloud</a> (contains some music not by me) <br />
    <a href="https://fiftyninety.fawm.org/@reinderd">FAWM</a> (Only available in February and July-October of each year)<br />
    <a href="https://www.youtube.com/playlist?list=PLIhXJe-Eye9jbeQG09v7AslRAyKgKaogN">The Hooded Crow on YouTube</a><br />
    <a href="https://www.youtube.com/playlist?list=PLIhXJe-Eye9iOJqSLNVqGmVz0Frf9oCvw">Alpha-Alpha on YouTube</a>
    </p>
  </div>
</div>
