<h4>Categories</h4>
<p class="categories">
        {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
          {{ with $.Site.GetPage (printf "/categories/%s" $name) }}
<a href="{{ .RelPermalink }}">{{ .Name }}</a> |
           {{ end }}
        {{ end }}

<h4>Tags</h4>



<p class="tags">
        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
          {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
            #<a href="{{ .RelPermalink }}">{{ .Name }}</a> | 
          {{ end }}
        {{ end }}