<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body a="{{ $.Site.Params.theme_config.appearance | default "auto" }}">
       <main class="page-content" aria-label="Content">

            <div class="w">
	      {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
	      {{- block "main" . }}{{- end }}
          <h4>Categories</h4>
	         {{ with .Params.categories }}
      <p class="categories">
        {{ range . }}
          <a href="/categories/{{ . | urlize }}">{{ . }}</a>
        {{ end }}
    {{ end }}

	   <h4>Tags</h4>
	         {{ with .Params.tags }}
      <p class="tags">
        {{ range . }}
          #<a href="/tags/{{ . | urlize }}">{{ . }}</a>
        {{ end }}
    {{ end }}

	    </div>

	    
        </main>


{{ partial "footer.html" . }}
      </body>
    {{- if .Params.custom_js -}}
        {{- range .Params.custom_js -}}
            {{ $js := resources.Get (print "js/" . ".js") }}
            <script type="text/javascript" src="{{ $js.RelPermalink }}"></script>

	    {{- end -}}

    {{- end -}}
</html>
