{{ define "main" }}
{{ partial "back_link.html" .}}


<article>
    <p class="post-meta">
        <time datetime="{{ .Date }}">
            {{ .Date | time.Format site.Params.theme_config.date_format }}
        </time>
    </p>

    <h1>{{ .Title }}</h1>

    {{ if .Params.toc }}
        <aside {{ if .Params.tocBorder }} class="toc" {{ end }}>
            {{ .TableOfContents }}
        </aside>
    {{ end }}

    {{ .Content }}

<br/>


{{ with .Prev }}
  <a href="{{ .RelPermalink }}">Previous</a>
{{ end }}
||
{{ with .Next }}
  <a href="{{ .RelPermalink }}">Next</a>
{{ end }}

</article>
{{ end }}
